{% extends 'base.html.twig' %}

{% block title %}Ajouts d'une tache{% endblock %}

{% block body %}
<div class="formTypeTask">
{{ form_start(form) }}

<div class="form-group">
<span class="badge badge-secondary">Titre de la tache</span>
{{ form_widget(form.titre,{'attr': {'placeholder': 'Titre de la tache ...'} }) }}<br/>
</div>

<div class="form-group">
<span class="badge badge-secondary">Date de création</span>
{{ form_widget(form.createdAt) }}<br/>
</div>

<div class="form-group">
<span class="badge badge-secondary">Catégorie du rapport</span>
{{ form_widget(form.taskCategorie,{'attr': {'placeholder': 'Catégorie de la tache'} }) }}<br/>
</div>

<div class="form-group">
<span class="badge badge-secondary">Section concernée</span>
{{ form_widget(form.section) }}<br/>
</div>

<div class="form-group">
<span class="badge badge-secondary">URL du document (google ou autre)</span>
{{ form_widget(form.urlDoc) }}<br/>
</div>

<div class="form-group">
<span class="badge badge-secondary">Nom de l'auteur</span>
{{ form_widget(form.author,{'attr': {'placeholder': 'Nom de l\'auteur'} }) }}<br/>
</div>

<div class="form-group">
<span class="badge badge-secondary">Demande complète de la tache</span>
{{ form_widget(form.content) }}<br/>
</div>

<button type="submit" class="btn btn-success">Créer mon rapport</button>
{{form_end(form)}}
</div>
{% endblock %}