{% extends 'base.html.twig' %}

{% block title %}Tableau des taches{% endblock %}

{% block body %}
<h3>Tache de Horizon'S</h3>
<div class="formTypeTask2">
{% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}
</div>
<div class="content">




<table class="table">

    <thead class="thead-dark">
      <tr>
        <th>Titre</th>
        <th>Date de Création</th>
        <th>Auteur</th>
        <th>Section</th>
        <th>Action</th>
         <th>Status</th>
      </tr>
    </thead>
    <tbody>
    {% for task in tasks %}
    
      <tr>
   
        <td class="center">{{ task.titre }}</td>
        <td class="center">{{ task.createdAt|date('d/m/y') }}</td>
        <td class="center">{{ task.author }}</td>
        <td class="center">{{ task.section }}</td>
            {% if is_granted('ROLE_DEV') or is_granted('ROLE_ADMIN') %}
                                                    
                <td class="center">
                    <a href="{{ path('taskEdit', {'id': task.id }) }}"><button class="btn btn-warning"><i class="fas fa-edit"></i></button></a>
                    <a href="{{ path('taskDelete', {'id': task.id }) }}"><button class="btn btn-danger"><i class="fas fa-trash-alt"></i></button></a>
                    <a href="{{ path('taskView', {'id': task.id }) }}"><button class="btn btn-info"><i class="fas fa-eye"></i></button></a>
                </td>
            
                    
            {% elseif is_granted('ROLE_MODO') and task.author == username and user.sectionOwner == task.section %}
                                                    
                        <td class="center">
                            <a href="{{ path('taskEdit', {'id': task.id }) }}"><button class="btn btn-warning"><i class="fas fa-edit"></i></button></a>
                            <a href="{{ path('taskView', {'id': task.id }) }}"><button class="btn btn-info"><i class="fas fa-eye"></i></button></a>
                        </td>
            

            {% else %}
                <td> <a href="{{ path('taskView', {'id': task.id }) }}"><button class="btn btn-info"><i class="fas fa-eye"></i></button></a></td>
            {% endif %}
                {% if task.taskCategorie == "Première demande" %}
                    <td class="one">{{ task.taskCategorie }}</td>
                {% elseif task.taskCategorie == "En cours" %}
                    <td class="two">{{ task.taskCategorie }}</td>
                {% elseif task.taskCategorie == "Refuser" %}
                    <td class="twos">{{ task.taskCategorie }}</td>
                {% elseif task.taskCategorie == "En attente" %}
                    <td class="twoss">{{ task.taskCategorie }}</td>
                {% elseif task.taskCategorie == "Doublon" %}
                    <td class="twosss">{{ task.taskCategorie }}</td>
                {% elseif task.taskCategorie == "Terminer" %}
                    <td class="twoT">{{ task.taskCategorie }}</td>
                {% else %}
                    <td class="">{{ task.taskCategorie }}</td>
                {% endif %}
      </tr>

    {% endfor %}
    </tbody>
  </table>
 <div class="grid-container">
    <div class="dropdown">
        <button type="button" class="btn btn-primary dropdown-toggle btnPerso btnNoBorder" data-toggle="dropdown">
            <i class="fas fa-sort"></i> Voir par Type
        </button>
        <div class="dropdown-menu">
            <div class="dropdown-header">Section Disponible</div>
            {% for section in sections %}
            <a class="dropdown-item" href="{{ path('section_task', {'id': section.id}) }}">Section {{ section.name }}</a>
            {% endfor %}
        </div>
    </div>

   
     <div ><a href="{{path('index')}}"><button class="btn btn-info btnPerso">Voir tout</button></a></div>
     <div><a href="{{path('add_task')}}"><button class="btn btn-success btnPerso">Ajouter</button></a></div>
    
</div>
  </div>
   <div class="paginat">
  {{ knp_pagination_render(tasks) }}
  </div>
  
</div>
  <ul class="nav card legend" style="width: 10%; padding: 10px; font-size: 12px; color: #333;">
  <h5>Légende</h5> 
  <li><i class="fas fa-edit"> </i> Editer le contenue</li>
  <li><i class="fas fa-trash-alt"></i>  Supprimer le contenue</li>
  <li><i class="fas fa-eye"></i> Voir le contenue</li>
  
{% endblock %}
